<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Template</title>
</head>
<body>
<h1>Hello Spring</h1>

<h2>My favorite food</h2>

<ul>
    <li th:each="food : ${favoriteFoods}" th:text="${food}"></li>
</ul>

<h2>Kitty Picture</h2>

<img src="../img/kitty2.png">
<p>My Favorite Movie is <span th:text="${favoriteMovie}"></span></p>
<P>This site is Built buy  <span th:text="${author}"></span></p>
</body>
</html>